# MongoDB Configuration
SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/photos

# Storage Configuration
STORAGE_PATH=/app/storage

# Auth Configuration
JWT_SECRET=replace-with-256-bit-random-string-at-least-32-chars-long
